.AllPointHistoryContainer{
    width: 100%;
    height: 90%;
}

.AllPointHistoryInnerContainer{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: space-evenly; */
}
.AllPointHistoryInnerContainerDropDownContainer{

width: 80%;
height: 5%;
}
.AllPointsHistory{
    width: 80%;
    height: 83%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
overflow-y: auto;

    /* background-color: antiquewhite; */
}
.AllPointHistoryCardContainer{
    width: 90%;
    height: 20%;
    /* background-color: red; */
    border-top: rgb(0,0,0,0.4);
     box-shadow: 0 5px 5px rgba(0,0,0,0.2);

    border-radius: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 0.2rem;
}
.AllPointsHistory::-webkit-scrollbar{
    /* display: none; */
    width: 0;
}
.AllPointHistoryCardImageContainer{
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}
.AllPointHistoryCardImageContainer>img{
    width: 2.5rem;
    height: 2.5rem;
}
.AllPointHistoryCardTextContainer>p{
    font-size: 0.8rem;
    color: black;
    text-align: center;
}
.AllPointHistoryCardTextContainer{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}