.ChangePasswordContainer{width: 100%;
    height: 90%;

}
    /* background-color: black; */

    .ChangePasswordInnerContainer{

        width: 80%;
        height: 80%;
        /* background-color: aqua; */
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }