.NewCustomWorkplancontainer{
    width: 100%;
    height: 90%;
    background-color: black;
}
.NewCustomWorkoutPlanInnerContainer{
    width: 100%;
    height: 90%;
}
.NewCustomWorkoutUpperSection{
    width: 100%;
    height: 5%;
    display:flex;
    justify-content: space-between;
    /* padding-left: 0.2rem;
    padding-right: 0.2rem; */
    align-items: center;
    /* background-color: antiquewhite; */
}
.NewCustomWorkoutSecondSection{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.NewCustomWorkoutSecondSection>span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.NewCustomWorkoutSecondSection>span>img{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.2rem;
    display: flex;
    
}
.NewCustomWorkoutSecondSection>span>p{
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 0.1rem;
    vertical-align: center;
}
.FolderContainer{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}
.FolderComponent{
    width: 80%;
    height: 10%;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.FolderComponent>p{
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(154, 152, 152);
}
.FolderComponentOptions{
    width: 0.7rem;
    height: 0.7rem;
    margin-left: auto;
    margin-right: 0.3rem;
    margin-top: auto;
    margin-bottom: auto;
}
.NewCustomWorkplanCreateFoldercontainer{
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgb(52, 51, 51,0.4);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NewCustomWorkplanCreateFolderInnercontainer{
    width: 70%;
    height: 30%;
    background-color: rgb(43, 42, 42);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.NewCustomWorkplanCreateFolderInnercontainer>p{

    font-size: 1rem;
    font-weight: 400;
}
.ChooseFolderContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    background-color: rgb(52, 51, 51,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ChooseFolderFolderList{
    width: 70%;
    height: 60%;
    margin-top: 0.5rem;
    border-radius: 0.6rem;
    background-color: black;
    border-radius: 0.4rem;
    margin-bottom: 0.8rem;
       box-shadow: 1px 1px rgb(34, 34, 34);
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       padding-top: 0.4rem;
       overflow-y: auto;


}
.FolderSettingScreenContainer{
    width: 100%;
    height: 100%;
    background-color: rgb(52, 51, 51,0.4);
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.FolderSettingScreenInnerContainer{
    width: 60%;
    height: 50%;
    background-color:black;
    box-shadow: 1px 1px rgb(34, 34, 34);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly

}
.FolderSettingScreenInnerContainer>span{
     box-shadow: 1px 1px rgb(34, 34, 34);
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid whitesmoke;
     width: 70%;
     height: 10%;
     border-radius: 0.3rem;
}
.FolderSettingScreenInnerContainer>span>p{
    font-size: 0.7rem;
}
.ChooseFolderFolderList>h5{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
}
.FolderSettingScreenContainerCancelBtn{
     border: 1px solid whitesmoke;
    margin-top: 0.2rem;
}
.ChooseFolderContainerFolder{
    width: 65%;
    height: 10%;
   background-color: rgb(52, 51, 51,0.8);
        box-shadow: 1px 1px rgb(34, 34, 34);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ChooseFolderContainerFolder>img{
    width: 1rem;
    height: 1rem;
}
.ChooseFolderContainerFolder>p{
    font-size: 0.8rem;
    font-weight: 400;

}
.ChooseFolderFolderListCancelBtn{
    border: 1px solid whitesmoke;
    margin-top: 0.2rem;
}
.NewCustomWorkplanCreateFolderInnercontainer>button{
width: 80%;
    height: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
    box-shadow: 1px 1px rgb(34, 34, 34);
    /* background-color: rgb(73, 73, 212); */
}
.NewCustomWorkplanCreateFolderInnercontainer>button>p{
     font-size: 0.8rem;
    font-weight: 300;
}
.NewCustomWorkplanCreateFolderInnercontainer>input{
    width: 80%;
    height: 15%;
    border-radius: 0.4rem;
      background-color: rgb(43, 42, 42);
    box-shadow: 1px 1px rgb(96, 95, 95);
    border: 2px solid rgb(74, 73, 73);
    text-align: center;

}
.FolderComponent>img{
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.3rem;
}
.NewCustomWorkoutSecondSection>span{
    width: 40%;
    height: 70%;
    border-radius: 0.5rem;
    background-color: rgb(48, 45, 45);
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    box-shadow: 0.1rem 0.1rem rgb(20, 20, 20);
}
.NewCustomWorkoutUpperSection>span{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0.6rem;
    margin-right: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NewCustomWorkoutUpperSection>span>img{
    width: 1.2rem;
    height: 1.2rem;
}
/* .NewCustomWorkoutUpperSection{
    dis
} */