.CustomWorkoutPlanContainer{
    width: 100%;
    height: 90%;
    background-color: white;
}
.CustomWorkoutPlanBackBtn{
    width: 100%;
    height: 5%;
    background-color: white;
}
.backarrow{
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
}
.CustomWorkoutPlanAddWorkoutContainer{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.CreateCustomWorkout{
    width: 90%;
    height: 80%;
    
    /* background-color: aqua; */
}
.CreateCustomWorkoutPage1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.DaysSelector>span{
    color: black;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
     width: 7rem;
    height:2rem;
    padding: 0.3rem;
    border-radius:0.6rem;
    background-color: white(125, 126, 122);
    border:0.1rem solid black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .DaysArray{
    width: 3rem;
    height: 3rem;
    background-color: white(125, 126, 122);
    border: 1px solid black;
} */
.DaysSelector{
    display: flex;
    /* flex-direction: ; */
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    /* background-color: navy; */
}

.AddExercisesContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
}
.AddExercisesDays{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.SelectedExerciseDays{
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
    border: 0.1rem solid black;
    border-radius: 50%;
    color: black;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    background-color: beige;
    font-weight: 600;
}

.AddExerciseCotent{
    width: 90%;
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    overflow-y: auto;
    padding-bottom: 0.3rem;
    /* padding-top: 0.3rem; */
}
.AddExerciseCotent::-webkit-scrollbar{
    display: none;
}
.AddExerciseSaveBtn{
    width: 100%;
    height: 10%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.3rem;
  
}

.SaveExerciseBtn{
    margin-top: 0.4rem;

}
.Exercisesontainer{
    width: 100%;
    height: auto;
    min-height: 20%;
    /* background-color: antiquewhite; */
}

.CheckCustomExercise {
  width: 100%;
  height: 80vh; /* fixed height relative to viewport */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  justify-content: flex-start; /* allow content to grow downward */
  padding: 1rem;
  gap: 1rem; /* space between cards */
  scroll-behavior: smooth;
}

.CheckCustomExercise::-webkit-scrollbar{
    display: none;
}