.Header {
    /* background-color: rgb(255, 174, 127); */
    height: 30%;
    width: 100%;
    padding-top: 0.3rem;
}

.HeaderWorkoutTracker {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.HeaderUserDetails {
    height: 40%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 0.2rem;
    color: black;
}

.HeaderUserDetailUsername {
    font-size: 1.8rem;
    font-weight: 650;
    padding-left: 1rem;
}

.HeaderUserDetailProfile {
    height: 2.7rem;
    width: 2.7rem;
    /* background-color: wheat; */
    margin-right: 1.2rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    /* text-align: center;
     */
     align-items: center;
     justify-content: center;
     color: white;
     font-family: 800;

}

.HeaderUserDetailUsername>span {
    margin-left: 0.3rem;
}

.HeaderWorkoutTrackerPrevNextWeekbtn {
    width: 100%;
    height: 30%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}

.PreviousWeekBtn {
    margin-left: 1rem;
    font-weight: 300;
    color: rgb(42, 41, 41);
}

.NextWeekBtn {
    margin-right: 1rem;
    font-weight: 300;

    color: rgb(42, 41, 41);

} 

.Headerdate{
    width: 100%;
    height: 70%;
    /* background-color: blueviolet; */
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    flex-grow: 1;
}

.Headerdate::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}
.DateNumberActive{
    background-color: red;
    width: 1rem;
    height:1rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    padding: 0.3rem;
    font-weight: 600;
}
.DateNumber{
    color: black;
}
