.HomePageContiner{
    width: 100%;
    height: 60%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;

}
.OngoingPlan{
    width: 100%;
    height: 12rem;
    /* background-color: aqua; */
    display: flex;
     /* justify-content: center; */
    align-items: center;
    flex-shrink: 0;
    overflow-x: auto;
    background-color: white;
    
}

.OngoingPlan::-webkit-scrollbar{
    display: none;
}
.HomePageContiner::-webkit-scrollbar{
    display: none;
}
/* .WorkoutPlansCard{
    width: 98%;
    height: 12rem;
    background-color: black;
   align-self: center;
    flex-shrink: 0;
    margin: 0.5rem 0rem;
    border-radius: 1rem;
    

} */

/* WORKOUT PLAN CARDS */
 