.LogWorkoutNewScreencontainer{
    width: 100%;
    height: 90%;
}
.Logworkoutnewscreeninnercontainer{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    background-color: black;
    /* background-color: aqua; */
}
.LogWorkoutNewCard{
    width: 80%;
    height: 10%;
    margin-bottom: 0.3rem;
    border: 1px solid black;
    /* margin-top: 0.3rem; */
    margin-top: 0.6rem;

    flex-shrink: 0;
    border-radius: 2rem;
    border:1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.3rem;
}
.LogWorkoutNewCard>h3{
color: whitesmoke;
font-size: 1.2rem;
font-weight: 300;
}
.DropDown{
    width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SetHolderContainer{
    width: 80%;
    height: auto;
    min-height: 40%;
    margin-bottom: 0.3rem;
    border: 1px solid black;
    /* margin-top: 0.3rem; */
    margin-top: 0.6rem;

    flex-shrink: 0;
    border-radius: 2rem;
    border:1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:space-between;
    padding-left: 0.5rem;
    padding-right: 0.3rem;
}
.AddsetsBtnContainer{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5rem;
}
.SetsContainer{
    width: 100%;
    min-height: 30%;
    height: auto;
    padding-bottom: 0.5rem;
}
.Sets{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}