.LogWorkoutScreenContainer{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  /* background-color: aqua; */
}
.LogWorkoutScreenHeading{
  width: 100%;
  height: 10%;
  /* background-color: azure; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.LogWorkoutExerciseSession{
  width: 100%;
  height: 85%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
}
.LogWorkoutExerciseSession::-webkit-scrollbar{
  display: none;
}
.ExerciseContainer{
  width: 86%;
  height: 85%;
  background-color: black;
  flex-shrink: 0;
  margin-left: 7%;
  margin-right: 7%;
  border:0.1rem solid black;
  border-radius: 0.7rem;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 0.2rem;
  /* overflow-y: auto; */
}
.PrevNextContainer{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PrevNextContainer>span{
  font-size: 1rem;
  color: black;
  margin:0.5rem 0.5rem;
}

.SetHolder{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  /* background-color: blueviolet; */
}