.NavBar{
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.BackgroundColorActiveTab {
  background-color: white;
  color: black;
  border-radius: 0.3rem;
}

.ActiveLabel{
  color: black;
}
