.otp-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  background-color: #000;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  height: 10%;
}

.otp-box {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  outline: none;
  color: #000;
}

.otp-box:focus {
  box-shadow: 0 0 0 2px #00ffcc;
}
