.PaymentMethodContainer{
    width: 100%;
    height: 90%;
    background-color: white;

}
.PaymentMethodInnerContainer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.PaymentOptionCard{

    width: 80%;
    min-height: 80%;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15),
            0 8px 24px rgba(0, 0, 0, 0.08);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.PaymentOptions{
 width: 100%;
    height: 10%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}
.PaymentOptionpill>img{
    width: 1.5rem;
    height: 1.5rem;
}
.PaymentOptionpill>span{
    font-size: 0.8rem;
    color: purple;
    font-weight: 600;
}
.PaymentOptionDetail{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PaymentOptionpill{
    height: 55%;
    min-width: 25%;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border-radius:1rem;
    /* background-color: rgba(240, 233, 233, 0.3); */
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15),
            0 8px 24px rgba(0, 0, 0, 0.08);


    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.PaymentOptions::-webkit-scrollbar{
    display: none;
}
.PaymentOptionActive{
    box-shadow:
  0 3px 8px rgba(22, 101, 52, 0.28),
  0 10px 30px rgba(22, 101, 52, 0.18);


}