.PointPageContainer {
    width: 100%;
    height: 90%;
}

.PointPageInnerContainer {
    width: 100%;
    height: 90%;
}

.PointConversionBtn {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.PointConversionScreen{
    width: 100%;
    height: 95%;
    /* background-color: aqua; */
}

.PointPageBtn {
    width: 30%;
    height: 90%;
    color: black;
    border: 1px solid black;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 600
}

.IsActive {
    
    border: 1px solid rgba(34, 197, 94, 0.5);
    background-color: rgba(34, 197, 94, 0.3);
}
.PointConversionScreen {
  display: flex;
  width: 100%;

  height: 95%; /* or 100vh if this is full page */
  
}

.PointConversionCard {
  width: 70%;
 height: 20%;
 /* background-color: rgb(250, 250, 250); */
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
 border: 1px solid black;
 border-radius: 1.3rem;
 flex-shrink: 0;
}
.PointConversionCardTop{
    width: 100%;
    height: 20%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom: 1px solid rgb(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.PointConversionCardTop>span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.9rem;
    height: 70%;
    min-width: 20%;
    width: auto;
    border-radius: 0.4rem;
    background-color:rgba(34, 197, 94, 0.3) ;
    border: 1px solid rgba(34, 197, 94, 0.5);
    padding-left: 0.2rem;
    padding-right: 0.2rem;


}
.PointConversionCardTop>img{
    width: 0.9rem;
    height: 0.9rem;
    margin-left:0.9rem ;

}
.PointConversionCardTop>span>p{
    color: black;
    font-size: 0.6rem;
}
.PointConversionCardTop>span>img{
    width: 0.7rem;
    height: 0.7rem;
}
.PointConversionCardMiddle{
     width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.PointConversionCardMiddle>div>span>img{
    width: 0.5rem;
    height: 0.5rem;
}
.PointConversionCardMiddle>div>span{
    display: flex;
    justify-content: center;align-items: center;
}
.PointConversionCardMiddle>div>span>p{
    color: black;
    font-size: 0.6rem;
    font-weight: 500;
}
.PointConversionCardMiddle>div{
    width: 80%;
    height: 50%;
    /* background-color: aqua; */
    justify-content: space-between;
    display: flex;
}
.PointConversionInr{
     color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}
.PointConversionInr>p{
font-size: 0.7rem; 
     font-weight: 500; 
}
 
.PointConversionCardBottom{
    width: 100%;
    height: 20%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: orange;
 

}
.PointConversionScreenLeft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.5rem;
    overflow-y: auto;
    padding-bottom: 2rem;
}
.PointConversionScreenRight{
    width: 50%;
    height: 100%;
     display: flex;
    flex-direction: column;
     justify-content: flex-start;
    align-items: center;
    padding-top: 0.5rem;
    overflow-y: auto;
    padding-bottom: 2rem;
padding-top: 0.5rem;

}