.PremiumContainer{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PremiumCard{
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.08);
      box-shadow: 0 0 2.5rem rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    

}
.PremiumTitle{
    font-size: 2rem;
    color: white;
    margin-bottom: 0.8rem;
}
.PremiumSubtitle{
    font-size: 1rem;

}
.Feature{
    font-size: 0.8rem;
}
.PremiumSubtitle{
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.PremiumButton{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.PremiumButton {
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.PremiumButton:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.PremiumNote {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #999;
}
.PremiumFeatures{
    margin-bottom: 1.5rem;
}