*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.MainLayoutContainer{
  width: 100%;
  min-width: 360px;
  max-width: 480px;
  background-color: azure;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
h1{
  color: black;
}